__pycache__/
.venv
.venv_sonar
raw/
models/*
mlruns/
mlartifacts/
src/tts/bark/output_audio
results/grid_search/
data/processed/sign_language_landmarks
data/processed/how2sign_ssvp
data/processed/landmarks_how2sign
colab_upload/How2Sign_SONAR/videos

# VS Code
.vscode/
*.code-workspace

# Mac OS-specific storage files
.DS_Store

# DotEnv configuration
.env